@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

/*the picture*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

/*the text*/
.text {
    color: #EFEFEF;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 60px;
    margin-left: 150px;
    margin-right: 150px;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}


